*{
    font-family: "Playpen Sans", cursive;
    
}



.nav{
    background-color:#CAE09F;
    font-size: x-large;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    display: flex;
    position: sticky;
    margin-left: -20px;
    margin-top: -10px;
} 


.nav-item{
    text-decoration: none;
    color: black;
    margin-top: 35px;
    padding: 15px;
    margin-left: 30px;
}
.logo-img{
    padding-right: 40px;
}
.oats_banner{
    height: 200px;
    width: 1200px;
}

.cat-flex{
    display: flex;
}

.banner{
    
    background-image: url('./images/banner1\ .jpg');

    height: 550px;
    width: 1300px;
}


@keyframes bannerimg
{
    0%{background-image: url('./images/oats_banner.jpg');}

    50%{background-image: url('./images/banner1 .jpg');}

    100%{background-image: url('./images/oats_banner.jpg');}
}
.why_us{
    background-color: #CAE09F;
    margin-top: -150px;
}
.why-text{
    text-align: center;
    font-weight: bold;
}
.why-content{
    font-weight: 400; 
}